.headerDefault {
  height: 100px;
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  justify-content: space-between;
  transition: 0.8s;
  align-items: center;
  z-index: 1000;
  /* background-color: #2d2b51; */
  background-color: transparent;
}

.header {
  height: 100px;
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  justify-content: space-between;
  background-color: #2d2b51;
  transition: 0.8s;
  align-items: center;
  z-index: 1000;
}

.headAuth {
  height: 100px;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  background-color: #2d2b51;
  transition: 0.8s;
  align-items: center;
  z-index: 1000;
}
