.card {
  padding: 8px;
  padding-left: 20px;
  width: 200px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start !important;
  /* justify-content: space-around !important; */
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 12px;
}
.stat-numb {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}
.stat-numb p {
  margin-left: 5px;
}
