.image {
  /* display: block; */
  animation: bounce 3s infinite alternate;
  /* animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: 0.7s;
  border: 1px solid green; */
  /* display: none; */
}

@keyframes bounce {
  from {
    transform: translateY(0px);
    /* transform: rotate(0); */
  }
  to {
    transform: translateY(30px);
    /* transform: rotate(40deg); */
  }
}
